* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row>* {
    padding: 0 !important;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(165, 176, 212, 0.2) !important;
}

a {
  font-weight: 500;
  text-decoration: none !important;
}

.main-container {
  margin-top: 60px;
  padding: 20px;
  flex-grow: 1;
}

tbody, td, tfoot, th, thead, tr {
  border-style: none;
}